In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("SuperStoreOrders.csv")
print(df)

              order_id  order_date ship_date       ship_mode  \
0         AG-2011-2040    1/1/2011  6/1/2011  Standard Class
1        IN-2011-47883    1/1/2011  8/1/2011  Standard Class
2         HU-2011-1220    1/1/2011  5/1/2011    Second Class
3      IT-2011-3647632    1/1/2011  5/1/2011    Second Class
4        IN-2011-47883    1/1/2011  8/1/2011  Standard Class
...                ...         ...       ...             ...
51285   CA-2014-115427  31-12-2014  4/1/2015  Standard Class
51286     MO-2014-2560  31-12-2014  5/1/2015  Standard Class
51287   MX-2014-110527  31-12-2014  2/1/2015    Second Class
51288   MX-2014-114783  31-12-2014  6/1/2015  Standard Class
51289   CA-2014-156720  31-12-2014  4/1/2015  Standard Class

          customer_name      segment             state        country  market  \
0       Toby Braunhardt     Consumer       Constantine        Algeria  Africa
1           Joseph Holt     Consumer   New South Wales      Australia    APAC
2         Annie Thurman     Consumer          Budapest        Hungary    EMEA
3          Eugene Moren  Home Office         Stockholm         Sweden      EU
4           Joseph Holt     Consumer   New South Wales      Australia    APAC
...                 ...          ...               ...            ...     ...
51285        Erica Bern    Corporate        California  United States      US
51286         Liz Preis     Consumer  Souss-Massa-Dra√¢        Morocco  Africa
51287  Charlotte Melton     Consumer           Managua      Nicaragua   LATAM
51288     Tamara Dahlen     Consumer         Chihuahua         Mexico   LATAM
51289     Jill Matthias     Consumer          Colorado  United States      US

        region  ...         category sub_category  \
0       Africa  ...  Office Supplies      Storage
1      Oceania  ...  Office Supplies     Supplies
2         EMEA  ...  Office Supplies      Storage
3        North  ...  Office Supplies        Paper
4      Oceania  ...        Furniture  Furnishings
...        ...  ...              ...          ...
51285     West  ...  Office Supplies      Binders
51286   Africa  ...  Office Supplies      Binders
51287  Central  ...  Office Supplies       Labels
51288    North  ...  Office Supplies       Labels
51289     West  ...  Office Supplies    Fasteners

                                          product_name sales quantity  \
0                                  Tenex Lockers, Blue   408        2
1                             Acme Trimmer, High Speed   120        3
2                              Tenex Box, Single Width    66        4
3                          Enermax Note Cards, Premium    45        3
4                           Eldon Light Bulb, Duo Pack   114        5
...                                                ...   ...      ...
51285  Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl    14        2
51286          Wilson Jones Hole Reinforcements, Clear     4        1
51287           Hon Color Coded Labels, 5000 Label Set    26        3
51288           Hon Legal Exhibit Labels, Alphabetical     7        1
51289                              Bagged Rubber Bands     3        3

       discount    profit  shipping_cost  order_priority  year
0           0.0  106.1400          35.46          Medium  2011
1           0.1   36.0360           9.72          Medium  2011
2           0.0   29.6400           8.17            High  2011
3           0.5  -26.0550           4.82            High  2011
4           0.1   37.7700           4.70          Medium  2011
...         ...       ...            ...             ...   ...
51285       0.2    4.5188           0.89          Medium  2014
51286       0.0    0.4200           0.49          Medium  2014
51287       0.0   12.3600           0.35          Medium  2014
51288       0.0    0.5600           0.20          Medium  2014
51289       0.2   -0.6048           0.17          Medium  2014

[51290 rows x 21 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  object
 2   ship_date       51290 non-null  object
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  object
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: float64(3), int64(2), object(16)
memory usage: 8.2+ MB

In [4]:
print(df.isnull().sum()) # check for missing values 
# so there is no missing values

order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_name     0
segment           0
state             0
country           0
market            0
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
quantity          0
discount          0
profit            0
shipping_cost     0
order_priority    0
year              0
dtype: int64

In [6]:
# df['profit'].fillna(0, inplace=True)     it raises a error   # Fill missing profit values with 0]

df['profit'] = df['profit'].fillna(0)

print(df.info)

<bound method DataFrame.info of               order_id  order_date ship_date       ship_mode  \
0         AG-2011-2040    1/1/2011  6/1/2011  Standard Class
1        IN-2011-47883    1/1/2011  8/1/2011  Standard Class
2         HU-2011-1220    1/1/2011  5/1/2011    Second Class
3      IT-2011-3647632    1/1/2011  5/1/2011    Second Class
4        IN-2011-47883    1/1/2011  8/1/2011  Standard Class
...                ...         ...       ...             ...
51285   CA-2014-115427  31-12-2014  4/1/2015  Standard Class
51286     MO-2014-2560  31-12-2014  5/1/2015  Standard Class
51287   MX-2014-110527  31-12-2014  2/1/2015    Second Class
51288   MX-2014-114783  31-12-2014  6/1/2015  Standard Class
51289   CA-2014-156720  31-12-2014  4/1/2015  Standard Class

          customer_name      segment             state        country  market  \
0       Toby Braunhardt     Consumer       Constantine        Algeria  Africa
1           Joseph Holt     Consumer   New South Wales      Australia    APAC
2         Annie Thurman     Consumer          Budapest        Hungary    EMEA
3          Eugene Moren  Home Office         Stockholm         Sweden      EU
4           Joseph Holt     Consumer   New South Wales      Australia    APAC
...                 ...          ...               ...            ...     ...
51285        Erica Bern    Corporate        California  United States      US
51286         Liz Preis     Consumer  Souss-Massa-Dra√¢        Morocco  Africa
51287  Charlotte Melton     Consumer           Managua      Nicaragua   LATAM
51288     Tamara Dahlen     Consumer         Chihuahua         Mexico   LATAM
51289     Jill Matthias     Consumer          Colorado  United States      US

        region  ...         category sub_category  \
0       Africa  ...  Office Supplies      Storage
1      Oceania  ...  Office Supplies     Supplies
2         EMEA  ...  Office Supplies      Storage
3        North  ...  Office Supplies        Paper
4      Oceania  ...        Furniture  Furnishings
...        ...  ...              ...          ...
51285     West  ...  Office Supplies      Binders
51286   Africa  ...  Office Supplies      Binders
51287  Central  ...  Office Supplies       Labels
51288    North  ...  Office Supplies       Labels
51289     West  ...  Office Supplies    Fasteners

                                          product_name sales quantity  \
0                                  Tenex Lockers, Blue   408        2
1                             Acme Trimmer, High Speed   120        3
2                              Tenex Box, Single Width    66        4
3                          Enermax Note Cards, Premium    45        3
4                           Eldon Light Bulb, Duo Pack   114        5
...                                                ...   ...      ...
51285  Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl    14        2
51286          Wilson Jones Hole Reinforcements, Clear     4        1
51287           Hon Color Coded Labels, 5000 Label Set    26        3
51288           Hon Legal Exhibit Labels, Alphabetical     7        1
51289                              Bagged Rubber Bands     3        3

       discount    profit  shipping_cost  order_priority  year
0           0.0  106.1400          35.46          Medium  2011
1           0.1   36.0360           9.72          Medium  2011
2           0.0   29.6400           8.17            High  2011
3           0.5  -26.0550           4.82            High  2011
4           0.1   37.7700           4.70          Medium  2011
...         ...       ...            ...             ...   ...
51285       0.2    4.5188           0.89          Medium  2014
51286       0.0    0.4200           0.49          Medium  2014
51287       0.0   12.3600           0.35          Medium  2014
51288       0.0    0.5600           0.20          Medium  2014
51289       0.2   -0.6048           0.17          Medium  2014

[51290 rows x 21 columns]>

In [7]:
df.head(15)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.00,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.10,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.00,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.50,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.10,37.7700,4.70,Medium,2011
5,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",55,2,0.10,15.3420,1.80,Medium,2011
6,CA-2011-1510,2/1/2011,6/1/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,Technology,Machines,"Okidata Inkjet, Wireless",314,1,0.00,3.1200,24.10,Medium,2011
7,IN-2011-79397,3/1/2011,3/1/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Appliances,"Hoover Microwave, White",276,1,0.10,110.4120,125.32,Critical,2011
8,ID-2011-80230,3/1/2011,9/1/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Technology,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.40,-319.4640,107.10,Low,2011
9,IZ-2011-4680,3/1/2011,7/1/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,Furniture,Chairs,"Novimex Swivel Stool, Set of Two",667,4,0.00,253.3200,81.26,High,2011
10,IN-2011-65159,3/1/2011,7/1/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Office Supplies,Storage,"Tenex Lockers, Industrial",338,3,0.45,-122.8005,33.75,High,2011
11,IN-2011-65159,3/1/2011,7/1/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Furniture,Tables,"Chromcraft Round Table, Adjustable Height",211,1,0.55,-70.3995,21.32,High,2011
12,ES-2011-4869686,3/1/2011,7/1/2011,Standard Class,Dorothy Dickinson,Consumer,England,United Kingdom,EU,North,...,Furniture,Bookcases,"Dania Corner Shelving, Traditional",854,7,0.00,290.4300,12.56,Medium,2011
13,IN-2011-33652,3/1/2011,9/1/2011,Standard Class,Dennis Pardue,Home Office,Sarawak,Malaysia,APAC,Southeast Asia,...,Technology,Copiers,"Hewlett Fax and Copier, Laser",193,1,0.00,50.1300,10.40,Medium,2011
14,ID-2011-80230,3/1/2011,9/1/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Furniture,Chairs,"Hon Rocking Chair, Set of Two",159,2,0.40,-95.6760,10.07,Low,2011

In [8]:
# df["order_date"] = pd.to_datetime(df["order_date"])  default  --- mm/dd/yy or yy/mm/dd
# df["order_date"] = pd.to_datetime(df["order_date"], dayfirst=True)   --- it tell pandas that first part is day not month 
df["order_date"] = pd.to_datetime(df["order_date"], format="mixed", dayfirst=True)
df["ship_date"] = pd.to_datetime(df["ship_date"], format="mixed", dayfirst=True)
# first we have to remove , and $ etc.
df["sales"] = df["sales"].str.replace(",","").str.replace("$","")
df['sales'] = pd.to_numeric(df['sales'])
print(df)

              order_id order_date  ship_date       ship_mode  \
0         AG-2011-2040 2011-01-01 2011-01-06  Standard Class
1        IN-2011-47883 2011-01-01 2011-01-08  Standard Class
2         HU-2011-1220 2011-01-01 2011-01-05    Second Class
3      IT-2011-3647632 2011-01-01 2011-01-05    Second Class
4        IN-2011-47883 2011-01-01 2011-01-08  Standard Class
...                ...        ...        ...             ...
51285   CA-2014-115427 2014-12-31 2015-01-04  Standard Class
51286     MO-2014-2560 2014-12-31 2015-01-05  Standard Class
51287   MX-2014-110527 2014-12-31 2015-01-02    Second Class
51288   MX-2014-114783 2014-12-31 2015-01-06  Standard Class
51289   CA-2014-156720 2014-12-31 2015-01-04  Standard Class

          customer_name      segment             state        country  market  \
0       Toby Braunhardt     Consumer       Constantine        Algeria  Africa
1           Joseph Holt     Consumer   New South Wales      Australia    APAC
2         Annie Thurman     Consumer          Budapest        Hungary    EMEA
3          Eugene Moren  Home Office         Stockholm         Sweden      EU
4           Joseph Holt     Consumer   New South Wales      Australia    APAC
...                 ...          ...               ...            ...     ...
51285        Erica Bern    Corporate        California  United States      US
51286         Liz Preis     Consumer  Souss-Massa-Dra√¢        Morocco  Africa
51287  Charlotte Melton     Consumer           Managua      Nicaragua   LATAM
51288     Tamara Dahlen     Consumer         Chihuahua         Mexico   LATAM
51289     Jill Matthias     Consumer          Colorado  United States      US

        region  ...         category sub_category  \
0       Africa  ...  Office Supplies      Storage
1      Oceania  ...  Office Supplies     Supplies
2         EMEA  ...  Office Supplies      Storage
3        North  ...  Office Supplies        Paper
4      Oceania  ...        Furniture  Furnishings
...        ...  ...              ...          ...
51285     West  ...  Office Supplies      Binders
51286   Africa  ...  Office Supplies      Binders
51287  Central  ...  Office Supplies       Labels
51288    North  ...  Office Supplies       Labels
51289     West  ...  Office Supplies    Fasteners

                                          product_name sales  quantity  \
0                                  Tenex Lockers, Blue   408         2
1                             Acme Trimmer, High Speed   120         3
2                              Tenex Box, Single Width    66         4
3                          Enermax Note Cards, Premium    45         3
4                           Eldon Light Bulb, Duo Pack   114         5
...                                                ...   ...       ...
51285  Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl    14         2
51286          Wilson Jones Hole Reinforcements, Clear     4         1
51287           Hon Color Coded Labels, 5000 Label Set    26         3
51288           Hon Legal Exhibit Labels, Alphabetical     7         1
51289                              Bagged Rubber Bands     3         3

       discount    profit  shipping_cost  order_priority  year
0           0.0  106.1400          35.46          Medium  2011
1           0.1   36.0360           9.72          Medium  2011
2           0.0   29.6400           8.17            High  2011
3           0.5  -26.0550           4.82            High  2011
4           0.1   37.7700           4.70          Medium  2011
...         ...       ...            ...             ...   ...
51285       0.2    4.5188           0.89          Medium  2014
51286       0.0    0.4200           0.49          Medium  2014
51287       0.0   12.3600           0.35          Medium  2014
51288       0.0    0.5600           0.20          Medium  2014
51289       0.2   -0.6048           0.17          Medium  2014

[51290 rows x 21 columns]

In [9]:
print(df.dtypes)

order_id                  object
order_date        datetime64[ns]
ship_date         datetime64[ns]
ship_mode                 object
customer_name             object
segment                   object
state                     object
country                   object
market                    object
region                    object
product_id                object
category                  object
sub_category              object
product_name              object
sales                      int64
quantity                   int64
discount                 float64
profit                   float64
shipping_cost            float64
order_priority            object
year                       int64
dtype: object

In [10]:
df.describe()

,order_date,ship_date,sales,quantity,discount,profit,shipping_cost,year
count,51290,51290,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,2013-05-11 21:26:49.155780864,2013-05-15 20:42:42.745174528,246.498440,3.476545,0.142908,28.641740,26.375915,2012.777208
min,2011-01-01 00:00:00,2011-01-03 00:00:00,0.000000,1.000000,0.000000,-6599.978000,0.000000,2011.000000
25%,2012-06-19 00:00:00,2012-06-23 00:00:00,31.000000,2.000000,0.000000,0.000000,2.610000,2012.000000
50%,2013-07-08 00:00:00,2013-07-12 00:00:00,85.000000,3.000000,0.000000,9.240000,7.790000,2013.000000
75%,2014-05-22 00:00:00,2014-05-26 00:00:00,251.000000,5.000000,0.200000,36.810000,24.450000,2014.000000
max,2014-12-31 00:00:00,2015-01-07 00:00:00,22638.000000,14.000000,0.850000,8399.976000,933.570000,2014.000000
std,NaN,NaN,487.567175,2.278766,0.212280,174.424113,57.296804,1.098931

In [11]:
# to find the Selling¬†Price¬†per¬†Unit using formula sales/quantity
df["Selling¬†Price¬†per¬†Unit"] = df["sales"] / df["quantity"]
print(df.head,df.dtypes)

# print(df.dtypes)

<bound method NDFrame.head of               order_id order_date  ship_date       ship_mode  \
0         AG-2011-2040 2011-01-01 2011-01-06  Standard Class
1        IN-2011-47883 2011-01-01 2011-01-08  Standard Class
2         HU-2011-1220 2011-01-01 2011-01-05    Second Class
3      IT-2011-3647632 2011-01-01 2011-01-05    Second Class
4        IN-2011-47883 2011-01-01 2011-01-08  Standard Class
...                ...        ...        ...             ...
51285   CA-2014-115427 2014-12-31 2015-01-04  Standard Class
51286     MO-2014-2560 2014-12-31 2015-01-05  Standard Class
51287   MX-2014-110527 2014-12-31 2015-01-02    Second Class
51288   MX-2014-114783 2014-12-31 2015-01-06  Standard Class
51289   CA-2014-156720 2014-12-31 2015-01-04  Standard Class

          customer_name      segment             state        country  market  \
0       Toby Braunhardt     Consumer       Constantine        Algeria  Africa
1           Joseph Holt     Consumer   New South Wales      Australia    APAC
2         Annie Thurman     Consumer          Budapest        Hungary    EMEA
3          Eugene Moren  Home Office         Stockholm         Sweden      EU
4           Joseph Holt     Consumer   New South Wales      Australia    APAC
...                 ...          ...               ...            ...     ...
51285        Erica Bern    Corporate        California  United States      US
51286         Liz Preis     Consumer  Souss-Massa-Dra√¢        Morocco  Africa
51287  Charlotte Melton     Consumer           Managua      Nicaragua   LATAM
51288     Tamara Dahlen     Consumer         Chihuahua         Mexico   LATAM
51289     Jill Matthias     Consumer          Colorado  United States      US

        region  ... sub_category  \
0       Africa  ...      Storage
1      Oceania  ...     Supplies
2         EMEA  ...      Storage
3        North  ...        Paper
4      Oceania  ...  Furnishings
...        ...  ...          ...
51285     West  ...      Binders
51286   Africa  ...      Binders
51287  Central  ...       Labels
51288    North  ...       Labels
51289     West  ...    Fasteners

                                          product_name sales quantity  \
0                                  Tenex Lockers, Blue   408        2
1                             Acme Trimmer, High Speed   120        3
2                              Tenex Box, Single Width    66        4
3                          Enermax Note Cards, Premium    45        3
4                           Eldon Light Bulb, Duo Pack   114        5
...                                                ...   ...      ...
51285  Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl    14        2
51286          Wilson Jones Hole Reinforcements, Clear     4        1
51287           Hon Color Coded Labels, 5000 Label Set    26        3
51288           Hon Legal Exhibit Labels, Alphabetical     7        1
51289                              Bagged Rubber Bands     3        3

       discount    profit  shipping_cost  order_priority  year  \
0           0.0  106.1400          35.46          Medium  2011
1           0.1   36.0360           9.72          Medium  2011
2           0.0   29.6400           8.17            High  2011
3           0.5  -26.0550           4.82            High  2011
4           0.1   37.7700           4.70          Medium  2011
...         ...       ...            ...             ...   ...
51285       0.2    4.5188           0.89          Medium  2014
51286       0.0    0.4200           0.49          Medium  2014
51287       0.0   12.3600           0.35          Medium  2014
51288       0.0    0.5600           0.20          Medium  2014
51289       0.2   -0.6048           0.17          Medium  2014

      Selling¬†Price¬†per¬†Unit
0                 204.000000
1                  40.000000
2                  16.500000
3                  15.000000
4                  22.800000
...                      ...
51285               7.000000
51286               4.000000
51287               8.666667
51288               7.000000
51289               1.000000

[51290 rows x 22 columns]> order_id                          object
order_date                datetime64[ns]
ship_date                 datetime64[ns]
ship_mode                         object
customer_name                     object
segment                           object
state                             object
country                           object
market                            object
region                            object
product_id                        object
category                          object
sub_category                      object
product_name                      object
sales                              int64
quantity                           int64
discount                         float64
profit                           float64
shipping_cost                    float64
order_priority                    object
year                               int64
Selling¬†Price¬†per¬†Unit           float64
dtype: object

In [12]:
df.describe()
# there is no need to handle outliers like -- dicsount is b/w 0-1,  and -- sales are appropriate and -- profit also

,order_date,ship_date,sales,quantity,discount,profit,shipping_cost,year,Selling¬†Price¬†per¬†Unit
count,51290,51290,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,2013-05-11 21:26:49.155780864,2013-05-15 20:42:42.745174528,246.498440,3.476545,0.142908,28.641740,26.375915,2012.777208,71.659964
min,2011-01-01 00:00:00,2011-01-03 00:00:00,0.000000,1.000000,0.000000,-6599.978000,0.000000,2011.000000,0.000000
25%,2012-06-19 00:00:00,2012-06-23 00:00:00,31.000000,2.000000,0.000000,0.000000,2.610000,2012.000000,12.000000
50%,2013-07-08 00:00:00,2013-07-12 00:00:00,85.000000,3.000000,0.000000,9.240000,7.790000,2013.000000,29.500000
75%,2014-05-22 00:00:00,2014-05-26 00:00:00,251.000000,5.000000,0.200000,36.810000,24.450000,2014.000000,82.000000
max,2014-12-31 00:00:00,2015-01-07 00:00:00,22638.000000,14.000000,0.850000,8399.976000,933.570000,2014.000000,3773.000000
std,NaN,NaN,487.567175,2.278766,0.212280,174.424113,57.296804,1.098931,113.581076

In [13]:
# Standardize column names (just for using these commands)
# [ bcz all columns were alread  in lower case and with no space , there was already a '_' b/w them]
# df.columns = df.columns.str.lower().str.replace(" ", "_")
# df.rename(columns={"selling price per unit":"selling_price_per_unit"}, inplace=True
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.columns
# it is not werking for selling price per unit --------

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'selling¬†price¬†per¬†unit'],
      dtype='object')

In [14]:
print(df.columns.tolist())  #Print column names with their exact representation

['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name', 'segment', 'state', 'country', 'market', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'quantity', 'discount', 'profit', 'shipping_cost', 'order_priority', 'year', 'selling\xa0price\xa0per\xa0unit']

In [15]:
df.columns = df.columns.str.strip().str.replace(r"\s+", "_", regex=True).str.lower()
"""  .str.strip() ‚Üí Removes leading and trailing spaces.
 .str.replace(r"\s+", "_", regex=True) ‚Üí Replaces all types of spaces (normal spaces, tabs, non-breaking spaces, etc.) with underscores  """
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'selling_price_per_unit'],
      dtype='object')

In [17]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,selling_price_per_unit
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011,204.0
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011,40.0
2,HU-2011-1220,2011-01-01,2011-01-05,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011,16.5
3,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011,15.0
4,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011,22.8

In [19]:
# Save cleaned data to a new CSV file
df.to_csv("cleaned_Super_store_orders_data.csv", index=False)

print("‚úÖ Data cleaning completed! Cleaned file saved as 'cleaned_Super_store_orders_data.csv'.")

‚úÖ Data cleaning completed! Cleaned file saved as 'cleaned_Super_store_orders_data.csv'.